
*.~pas
*.~dfm
*.~dpk

tmp/*
tmo/*.*

src/1/*
src/1/*.*
src/2/*
src/2/*.*
src/3/*
src/3/*.*

*.~dpr
*.map
*.dll
*.dcu
*.exe
*.~ddp
*.drc
src/demo3/Project1.res
src/test3/Project1.res
*.drc
src/demo3/Project1.drc
*.~tlb
